_site/
.sass-cache/
.jekyll-metadata
scripts/
Gemfile.lock
.publish/
css/

*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

node_modules/
bower_components

.sass-cache/
*.css.map

*~

*.DS_Store
.AppleDouble
.LSOverride

*~
.Trash-*

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

validate/log.json

package-lock.json
