{% seo %}
<head>
  <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#F62E1A"/>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
    <noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>

    <meta name="keywords" content="Blockchain, p2p, Masternodes, Security, Cryptocurrency, mining, axe, axecoin, axerunners" />

</head>
