<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
		<header id="header">
			<div class="logo">
				<span class="icon {{ site.icon }}"></span>
			</div>
			<div class="content">
				<div class="inner">
					<h1>{{ site.title }}</h1>
					<p>{{ site.description }}</p>
				</div>
			</div>
			<nav>
				<ul>
					<li><a href="#about">about</a></li>
					<li><a href="#core">core</a></li>
          <li><a href="#contact">contact</a></li>
					<li><a href="#electrum">electrum</a></li>
					<li><a href="#masternodes">masternodes</a></li>
					<li><a href="#mining">mining</a></li>
          <li><a href="#p2pool">p2pool</a></li>
					<li><a href="#resources">resources</a></li>
					<li><a href="#trading">trading</a></li>
				</ul>
			</nav>
		</header>

	<!-- Main -->
		<div id="main">
