{% comment %}





	Name:

		Default layout

	Description:

		Basic HTML foundation for all pages.

	Example:

		---
		layout: default
		---

{% endcomment %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>AXE</title>
		<meta charset="utf-8" />
		<!-- Global site tag (gtag.js) - Google Analytics -->
 		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119169070-1"></script>
 		<script>
 		window.dataLayer = window.dataLayer || [];
 		function gtag(){dataLayer.push(arguments);}
 		gtag('js', new Date());
 		gtag('config', 'UA-119169070-1');
 		</script>
 		<script type="text/javascript">
 		if ("serviceWorker" in navigator) {
	 	 	navigator.serviceWorker.register("/sw.js").then(function(registration) {
		   	console.log("Service Worker registration successful with scope: ", registration.scope);
	   	}).catch(function(err) {
		  	console.log("Service Worker registration failed: ", err);
	  	});
  	}
 		</script>
 		<link rel="manifest" href="manifest.json">
		<meta name="msapplication-navbutton-color" content="#F62E1A">
  	<meta name="theme-color" content="#F62E1A" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-times"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>AXE</h1>
								<p>DECENTRALIZED X11-BASED CRYPTOCURRENCY</p>
							</div>
						</div>
						<nav>
							<ul>
								{% for panel in site.panels %}
									<li><a href="#{{ panel.html_id }}">{{ panel.title }}</a></li>
								{% endfor %}
							</ul>
						</nav>
					</header>

				{{ content }}

				<!-- Footer -->
					<footer id="footer">
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
			<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.baseurl }}/assets/js/util.js"></script>
			<script src="{{ site.baseurl }}/assets/js/main.js"></script>

	</body>
</html>
